:root {
    --color1: #05b1b1;
    --color2: #52339a;
	--color3: #eee;
  }
  
  header,
  footer,
  section {
    padding: 100px 0;
  }
  
  header {
    padding: 190px 0;
  }
  
  header, footer {
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/pattern.png), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
  }
  
  /* Кнопка Play */
  
  .btn-itd {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
  }
  
  .btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
  }
  
  /* О курсе */
  .about, .schedule, .reviews {
    background-color: #eee;
  }
  .about i {
    font-size: 25px;
    color: var(--color2);
  }
  .itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
  }
  /* Для кого курс */
  .forwhom h5 {
    padding: 50px;
    border: 3px solid var(--color1);
  }
  /* Программа курса */
  .accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--color2);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  /* Процесс обучния */
  .learning h5 {
    padding: 25px;
    border: 3px solid var(--color1);
  }
  /* Об авторе */
  .author {
    padding-bottom: 0;
	background-color: var(--color3);
  }
  .rounded {
    border-radius: 50% !important;
    border: 3px solid var(--color1);
  }
  .itd_img {
    max-width: 260px;
  }
  /* Отзывы о курсе */
  /* Купить */
  /* Футер */
  footer .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  footer {
    padding: 30px 0;
  }
   {
    padding: 60px 0;
  }
  /* Цвет и фон */
  .color1 {
    color: var(--color1);
  }
  .bg1 {
    background-color: var(--color1);
  }
  .color2 {
    color: var(--color2);
  }
  .bg2 {
    background-color: var(--color2);
  }
  nav {
    height: 80px; 
    position: fixed; 
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    font-family: Verdana, sans-serif;    
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: 80px; 
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: var(--color2);
    display: inline-flex;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  nav ul li a:hover {
    color: var(--color1);
  }
  nav ul li a.active {
    border-bottom: 2px solid #FFF;
    padding-bottom: 6px;
    color: #FFF;
  }

